@{
    ViewData["Title"] = " Galeria";
}

<!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>Nosso Contato</span>
                        <h2>ENTRE EM CONTATO</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                        <form action="#">
                            <div>
                                <label for="nome">Nome:</label>
                                <input type="text" id="nome" name="usuario_nome" />
                            </div>
                            <div>
                                <label for="email">E-mail:</label>
                                <input type="email" id="email" name="usuario_email" />
                            </div>
                            <div>
                                <label for="msg">Mensagem:</label>
                                <textarea id="msg" name="usuario_msg"></textarea>
                            </div>

                            <div class="button">
                                <button type="submit">Enviar sua mensagem</button>
                            </div>
                          
                        </form>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1549.8362670202703!2d-48.556359520538535!3d-22.49845587395928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c74527ac6ee907%3A0xc550116c15ea2bf5!2sAcademia%20Cintia%20Reco!5e0!3m2!1spt-BR!2sbr!4v1687272772294!5m2!1spt-BR!2sbr"
                    height="550" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>(14)99775-7743</li>
                            <li>(14)3438-1447</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-instagram"></i>
                        <p>@@academiacintia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->