@{
    ViewData["Title"] = " Galeria";
}

<!-- Class Timetable Section Begin -->
    <section class="class-timetable-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Ache seu horário</h2>
                        <span>OBS = Hóriario de funcionamento da musculação:</span>
                        <p class="mb-0">- Segunda a Sexta: 06h - 12h30 / 14h30 - 21h </p>
                        <p class="mb-0">- Sábado: 09h - 12h </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="table-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">Todos</li>
                            <li data-tsfilter="Fitness">Fitness</li>
                            <li data-tsfilter="Dança">Dança</li>
                            <li data-tsfilter="Alongamento">Alongamento</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                    <th>Sabádo</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="class-time">9h - 10h </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>DIVAS DA DANÇA</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>DIVAS DA DANÇA</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 10h </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>BABY CLASS</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>BABY CLASS</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>II GRAU A/B</h5>
                                        <span>Prof's Cintia e Raissa Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 14h - 16h </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>BALLET ADVANCED</h5>
                                        <span>Prof. Luana Ruiz</span>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 17h30 </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>DANCE KIDS</h5>
                                        <span>Prof. Tathy Meneghesso</span>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 17h40 - 19h </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>I GRAU</h5>
                                        <span>Prof. Joany Silva</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>I GRAU</h5>
                                        <span>Prof. Joany Silva</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 18h15 </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>IV GRAU GRAU</h5>
                                        <span>Prof. Raissa Reco</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>III GRAU</h5>
                                        <span>Prof. Raissa Reco</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>IV GRAU GRAU</h5>
                                        <span>Prof. Raissa Reco</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>III GRAU</h5>
                                        <span>Prof. Raissa Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 18h - 19h </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>FIT DANCE</h5>
                                        <span>Prof. Tathy Meneghesso</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>DANCE TEEN</h5>
                                        <span>Prof. Tathy Meneghesso</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>FIT DANCE</h5>
                                        <span>Prof. Tathy Meneghesso</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Alongamento">
                                        <h5>ALONGAMENTO</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time">18h30 - 19h30  </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>II GRAU A</h5>
                                        <span>Prof. Joany Silva</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>II GRAU B</h5>
                                        <span>Prof. Joany Silva</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 19h - 20h</td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Fitness">
                                        <h5>STEP</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>ZUMBA</h5>
                                        <span>Prof. Raul Pinheiro</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança;Fitness">
                                        <h5>ZUMBA</h5>
                                        <span>Prof. Raul Pinheiro</span>
                                        <h5>FUNCIONAL</h5>
                                        <span>Prof. Roberta Garcia</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time"> 20h - 21h </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="Dança">
                                        <h5>BROADWAY</h5>
                                        <span>Prof. Cintia Reco</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Timetable Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>(14)99775-7743</li>
                            <li>(14)3438-1447</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-instagram"></i>
                        <p>@@academiacintia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->
