@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>DESCULPAS NÃO QUEIMAM CALORIAS!</span>
                            <h1>VEM SER<strong> CINTIA RECO!</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>DESCULPAS NÃO QUEIMAM CALORIAS!</span>
                            <h1>VEM SER<strong> CINTIA RECO!</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>DESCULPAS NÃO QUEIMAM CALORIAS!</span>
                            <h1>VEM SER<strong> CINTIA RECO!</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-item set-bg" data-setbg="img/hero/hero-5.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>DESCULPAS NÃO QUEIMAM CALORIAS!</span>
                            <h1>VEM SER<strong> CINTIA RECO!</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<!-- Hero Section End -->


<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="../img/banner-bg-2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>quer saber mais orçamentos?</h2>
                    <div class="bt-tips"> Entre em contato:</div>
                    <a href="https://wa.link/zbptnq" class="primary-btn  btn-normal"> Nosso WhatsApp</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Gallery Section Begin -->
<div class="gallery-section">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-1.jpg">
            <a href="img/gallery/gallery-1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-2.jpg">
            <a href="img/gallery/gallery-2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-3.jpg">
            <a href="img/gallery/gallery-3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-4.jpg">
            <a href="img/gallery/gallery-4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-5.jpg">
            <a href="img/gallery/gallery-5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-6.jpg">
            <a href="img/gallery/gallery-6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
<!-- Gallery Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>SEU TIME</span>
                        <h2>TREINE COM OS MELHORES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Cintia Reco</h4>
                            <span>Diretora</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Raissa Reco</h4>
                            <span>Professora Infantil e Juvenil e Sócia</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Joany Silva</h4>
                            <span>Professora Infantil</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-5.jpg">
                        <div class="ts_text">
                            <h4>Vitor Baldi</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-6.jpg">
                        <div class="ts_text">
                            <h4>Roberta Garcia</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-7.jpg">
                        <div class="ts_text">
                            <h4>Luana Ruiz</h4>
                            <span>Professora de Contemporâneo</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-8.jpg">
                        <div class="ts_text">
                            <h4>Raul Pinheiro</h4>
                            <span>Professor de Zumba</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-9.jpg">
                        <div class="ts_text">
                            <h4>Tathy Meneghesso</h4>
                            <span>Professora Fit Dance Adulto & Kids</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>(14)99775-7743</li>
                        <li>(14)3438-1447</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-instagram"></i>
                    <p>@@academiacintia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->


