    @{
    ViewData["Title"] = " Modalidades";
    }

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>O que nós fazemos?</span>
                        <h2>NOSSAS MODALIDADES:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    <div class="ss-pic">
                     
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4> Ballet Clássico</h4>
                        <p> O Ballet Clássico traz diversos benefícios, como melhora da postura,
                            flexibilidade, coordenação motora, força muscular, disciplina, expressão artística e bem-estar mental.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Sapateado</h4>
                        <p> O sapateado traz benefícios como melhora do ritmo, coordenação e consciência corporal. 
                            Além disso, é uma forma divertida de exercício que combina música e movimento.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Zumba</h4>
                        <p> A Zumba é uma atividade física que combina dança e exercício aeróbico, trazendo benefícios como melhora da resistência cardiovascular, queima de calorias e aumento da coordenação motora. 
                           
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Dance Kids</h4>
                        <p> A Dance Kids traz benefícios como desenvolvimento da coordenação motora, melhora da postura, estimulação da criatividade e expressão artística, além de promover a socialização e autoconfiança.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Dance Teen </h4>
                        <p>A Dance Teen  traz benefícios como melhora da coordenação motora, flexibilidade, condicionamento físico e postura. Além disso, a dança promove a expressão individual, autoconfiança e bem-estar emocional.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Divas</h4>
                        <p>A aula das Divas traz benefícios como melhora da flexibilidade, equilíbrio, coordenação motora e mobilidade articular. Além disso, a dança promove o convívio social, estimula a memória, melhora o humor e ajuda a manter uma vida ativa e saudável.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Fit Dance</h4>
                        <p> O Fit Dance traz benefícios como melhora do condicionamento físico, queima de calorias, fortalecimento muscular, aumento da coordenação motora e melhora do equilíbrio. Além disso, é uma atividade divertida que promove o bem-estar e a expressão corporal.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Jazz</h4>
                        <p>O Jazz traz benefícios como desenvolvimento da flexibilidade, força muscular, coordenação motora e resistência cardiovascular. Além disso, promove a expressão artística, melhora a postura e estimula a criatividade.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Broadway</h4>
                        <p> A dança da Broadway traz benefícios como melhora da coordenação motora, expressão artística, resistência física e flexibilidade. Além disso, promove a conexão com a música, estimula a criatividade e proporciona uma experiência divertida e emocionante.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                    <div class="ss-pic">
                        
                    </div>
                </div>
                <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Musculação</h4>
                        <p>A musculação é um tipo de exercício realizado com pesos de diversas cargas, amplitude e tempo de contração, 
                        o que faz dela uma atividade física indicada para pessoas de diversas idades e com diferentes objetivos.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                    <div class="ss-pic">
            
                    </div>
                </div>
                <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Alongamento</h4>
                        <p>Os exercícios de alongamento promovem um estiramento das fibras musculares, aumentando a flexibilidade do músculo. 
                            O corpo ganha elasticidade, melhorando o desempenho nas atividades físicas e nas tarefas diárias.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                    <div class="ss-pic">
                        
                    </div>
                </div>
                <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Funcional</h4>
                        <p>A aula de Funcional é um esporte que envolve a prática de uma série de movimentos que requer força, flexibilidade e coordenação motora.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-9 col-md-6 p-0">
                    <div class="ss-pic">
                       
                    </div>
                </div>
                <div class="col-lg-3 order-lg-10 col-md-6 p-0">
                    <div class="ss-text ">
                        <h4>Step</h4>
                        <p>Consiste em fazer exercícios diversos utilizando o auxílio de um step (um degrau). Essa modalidade inclui exercícios que movimentam braços e pernas. A dificuldade do movimento pode ser regulada pela intensidade de movimentos.</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-11 col-md-6 p-0">
                    <div class="ss-pic">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="card" style="width: 18rem;">
    <img src="img/services/services-1.jpg" class="" alt="..." >
    <div class="card-body">
        <h5 class="card-title">Ballet Clássico</h5>
        <p class="card-text">O Ballet Clássico traz diversos benefícios, como melhora da postura,
                            flexibilidade, coordenação motora, força muscular, disciplina, expressão artística e bem-estar mental.</p>
    </div>
    </div>
    <!-- Services Section End -->

    <!-- Banner Section Begin -->
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->
    <!-- Pricing Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>(14)99775-7743</li>
                            <li>(14)3438-1447</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-instagram"></i>
                        <p>@@academiacintia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->