    @{
    ViewData["Title"] = "Nosso Time";
    }

<!-- Team Section Begin -->
    <section class="team-section team-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Seu time</span>
                            <h2>TREINE COM OS MELHORES</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Cintia Reco</h4>
                            <span>Gym Trainer</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/cintia.reco"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/cintiareco/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Raissa Reco</h4>
                            <span>Professora Infantil e Juvenil e Sócia</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/raissa.reco"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/raissa.recco/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Joany Silva</h4>
                            <span>Professora Infantil</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/jooh.silva.1656"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/jo.silvacs/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                        <div class="ts_text">
                            <h4>Matheus Lopes</h4>
                            <span>Gym Trainer</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/profile.php?id=100003671964861"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/matheuslmarshall/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-5.jpg">
                        <div class="ts_text">
                            <h4>Vitor Baldi</h4>
                            <span>Gym Trainer</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/vitor.baldi.5"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/vitor.baldi_/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-6.jpg">
                        <div class="ts_text">
                            <h4>Roberta Garcia</h4>
                            <span>Gym Trainer</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/roberta.garcia.315"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/rogarciadias/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-7.jpg">
                        <div class="ts_text">
                            <h4>Luana Ruiz</h4>
                            <span>Professora de Contemporâneo</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/luana.ruiz.754"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/luanaruiiz/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-8.jpg">
                        <div class="ts_text">
                            <h4>Raul Pinheiro</h4>
                            <span>Professor de Zumba</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/rauldaniel.pinheiro"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/rahul_black_swan/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="img/team/team-9.jpg">
                        <div class="ts_text">
                            <h4>Tathy Meneghesso</h4>
                            <span>Professora Fit Dance Adulto & Kids</span>
                            <div class="tt_social">
                                <a href="https://www.facebook.com/profile.php?id=100015112025441"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/tathy.7mene/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text service-banner">
                        <h2>SAIBA MAIS SOBRE A EQUIPE</h2>
                        <div class="bt-tips">Video de apresentação</div>
                        <a href="~/img/video.mp4" class="play-btn video-popup"><i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>(14)99775-7743</li>
                            <li>(14)3438-1447</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-instagram"></i>
                        <p>@@academiacintia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->