@{
    ViewData["Title"] = "Nosso Time";
}

<!-- BMI Calculator Section Begin -->
<section class="bmi-calculator-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title chart-title">
                    <span>check seu corpo</span>
                    <h2>TESTE DE IMC</h2>
                </div>
                <div class="chart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Imc
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <p>O IMC é um cálculo universal e usado pela OMS para avaliar os riscos de obesidade e encontrar
                            o peso
                            ideal de uma pessoa em padrões de saúde.
                        </p>
                        <tbody>
                            <tr>
                                <td class="point">Abaixo 20</td>
                                <td>Baixo Peso</td>
                            </tr>
                            <tr>
                                <td class="point">20 - 25</td>
                                <td>Peso Ideal</td>
                            </tr>
                            <tr>
                                <td class="point">25 - 30</td>
                                <td>Sobrepeso</td>
                            </tr>
                            <tr>
                                <td class="point">30 - 35</td>
                                <td>Obesidade Moderada</td>
                            </tr>
                            <tr>
                                <td class="point">35 - 40</td>
                                <td>Obesidade Severa</td>
                            </tr>
                            <tr>
                                <td class="point">40 - 50</td>
                                <td>Obesidade Morbida</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title chart-calculate-title">
                    <span>check seu corpo</span>
                    <h2>CALCULE SEU IMC</h2>
                </div>
                <div class="chart-calculate-form">
                 
                    <div id="formulario">
                        <fieldset>

                            <label for="kilos"></label>
                            <input name="kilos" id="kilos" type="text" placeholder="Peso (kg):" />

                            <label for="metros"></label>
                            <input name="metros" id="metros" type="text" placeholder="Altura (m):" />

                            <label for="centimetros"></label>
                            <input name="centimetros" id="centimetros" type="text" placeholder="Altura (cm):" />

                            <label for="imc"></label>
                            <input name="imc" id="imc" type="text" disabled="disabled" placeholder="IMC:" />

                            <button onclick="calcular();">Calcular</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BMI Calculator Section End -->


<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>(14)99775-7743</li>
                        <li>(14)3438-1447</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-instagram"></i>
                    <p>@@academiacintia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->

@section Scripts {
    <script src="~/js/imc.js"></script>
}