@{
    ViewData["Title"] = "Nosso Time";
}

<!-- BMI Calculator Section Begin -->
<section class="bmi-calculator-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title chart-title">
                    <span>check seu corpo</span>
                    <h2>TESTE DE IMC</h2>
                </div>
                <div class="chart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Imc
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="point">Abaixo 18,5</td>
                                <td>Baixo Peso</td>
                            </tr>
                            <tr>
                                <td class="point">18,5 - 24,9</td>
                                <td>Saudavél</td>
                            </tr>
                            <tr>
                                <td class="point">25,0 - 29,9</td>
                                <td>Sobrepeso</td>
                            </tr>
                            <tr>
                                <td class="point">30,0 - e Acima</td>
                                <td>Obesidade</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title chart-calculate-title">
                    <span>check seu corpo</span>
                    <h2>CALCULE SEU IMC</h2>
                </div>
                <div class="chart-calculate-form">
                    <p>O IMC é um cálculo simples e importante para avaliar os riscos de obesidade e encontrar o peso
                        ideal de uma pessoa.
                        Esse cálculo é universal e usado pela OMS para classificar padrões de saúde relacionados ao
                        peso, como a desnutrição e a obesidade.</p>
                    <form action="#">
                        <div class="row">
                            <div class="col-sm-6">
                                <input id="altura" type="number" placeholder="Altura / cm">
                            </div>
                            <div class="col-sm-6">
                                <input id="peso" type="number" placeholder="Peso / kg">
                            </div>
                            <div class="col-sm-6">
                                <input id="idade" type="number" placeholder="Idade">
                            </div>
                            <div class="col-sm-6">
                                <select id="sexo" name="sexo"> 
                                    <option value="">Sexo</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <button onclick="CalcularIMC()">Calcular</button>
                            </div>
                            <div id="Resultado"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BMI Calculator Section End -->


<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>R. da Constituicão, 49 - Jardim Vista Alegre, Barra Bonita - SP</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>(14)99775-7743</li>
                        <li>(14)3438-1447</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-instagram"></i>
                    <p>@@academiacintia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->

@section Scripts {
    <script src="~/js/imc.js"></script>
}