@{
    ViewData["Title"] = "Home";
    ViewData["Page"] = "Área Administrativa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="d-flex justify-content-evenly">
    <div class="card border-success mb-3" style="width: 18rem; height: 100%">
        <div class="card-header">Total de Alunos</div>
        <div class="card-body text-success">
            <h5 class="card-title">DANÇA</h5>
            <p class="card-text">Baby Class - 17 alunos</p>
            <p class="card-text">I grau - 10 alunos</p>
            <p class="card-text">II grau A - 15 alunos</p>
            <p class="card-text">II grau B - 12 alunos</p>
            <p class="card-text">III grau - 11 alunos</p>
            <p class="card-text">IV grau - 9 alunos</p>
            <p class="card-text">Advanced - 3 alunos</p>
            <p class="card-text">Zumba - 6 alunos</p>
            <p class="card-text">Fit Dance - 8 alunos</p>
            <p class="card-text">Dance Kids - 10 alunos</p>
            <p class="card-text">Dance Teen - 9 alunos</p>
            <p class="card-text">Divas - 7 alunos</p>
        </div>
    </div>
    <div>

    <div class="card border-success mb-3" style="width: 18rem; ">
        <div class="card-header">Total de Alunos</div>
        <div class="card-body text-success">
            <h5 class="card-title">ALONGAMENTO</h5>
            <p class="card-text">5 alunos</p>
        </div>
    </div>

    <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-header">Total de Alunos</div>
        <div class="card-body text-success">
            <h5 class="card-title">FITNESS</h5>
            <p class="card-text">STEP - 8 alunos</p>
            <p class="card-text">FUNCIONAL - 5 alunos</p>
        </div>
    </div>
    </div>
    <div class="card text-white bg-success mb-3" style="width: 18rem; height: 100%">
        <div class="card-header">VALORES MENSALIDADES</div>
        <div class="card-body">
            <h5 class="card-title">Turma - MODALIDADE - Valor</h5>
            <p class="card-text">I grau - BALLET E SAPATEADO - R$80,00</p>
            <p class="card-text">II grau A - BALLET, JAZZ E SAPATEADO - R$90,00</p>
            <p class="card-text">II grau B - BALLET E SAPATEADO - R$85,00</p>
            <p class="card-text">III grau - BALLET, JAZZ E SAPATEADO - R$90,00</p>
            <p class="card-text">IV grau - BALLET, JAZZ E SAPATEADO - R$90,00</p>
            <p class="card-text">Advanced - BALLET - R$90,00 </p>
            <p class="card-text">Zumba - DANÇA E FITNESS - R$90,00</p>
            <p class="card-text">Fit Dance - DANÇA E FITNESS - R$80,00</p>
            <p class="card-text">Dance Kids - DANÇA - R$80,00</p>
            <p class="card-text">Dance Teen - DANÇA - R$80,00</p>
            <p class="card-text">Divas - DANÇA - R$80,00</p>
        </div>
    </div>
</div>
